.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.left{
    width: 50%;
    overflow: hidden;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputu{
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 2vh !important;
    height: 4vh !important;
    border: 2px solid black !important;
    font-size: 1rem;
}
.leftContainer{
    /* background-color: aquamarine; */
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right{
    width: 50%;
    /* background-color: aquamarine; */
    overflow: hidden;
}
.right img{
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    /* background-color: aqua; */
    height: 80%;
    justify-content: center;
    /* align-items: center; */

}
.mainHeading{
    margin-top: 31vh;
    font-size: 3.5rem;
}
.mainHeadingdiv{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    height: 4vh;
    width: 100%;
    border-radius: 2vh;
}

.loginBtn{
    border-radius: 5vh;
    height: 4vh;
    background-color: #151229;
    color: white;
    cursor: pointer;
}
.input1{
    margin-bottom: 4vh;
}
.input2{
    margin-bottom: 4vh;
}

.signup{
    margin-top: 2vh;
}